.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.df {
    display: flex;
}

.btn {
    box-shadow: 0 9px 29px 10px #cb0035, inset 0 2px 0 rgba(242, 171, 186, 0.5);
    border-radius: 10px;
    background-color: #000000;
    background-image: linear-gradient(to bottom, #ff0054 0%, #ff0042 100%);
    @extend %os-heavy;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    line-height: 74.34px;
    text-align: center;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        height: 200px;
        width: 1px;
        opacity: 0.7;
        background-color: #fff;
        box-shadow: 1px 0px 13px 10px #fff, inset 0 2px 0 rgba(242, 171, 186, 0.5);
        transform: rotate(-50deg);
        top: -50px;
        left: -100px;
        animation: btn 3s infinite;
        animation-delay: 5s;
    }

    @include min24 {
        &:hover,
        &:focus {
            background-image: linear-gradient(to bottom, #ff4e88 0%, #ff0000 100%);
        }
    }
}

.jq-checkbox {
    border-radius: 5px;
}

.jq-checkbox.focused {
    border: none;
}

.jq-radio {
    box-shadow: none;
    border: none;
}

.jq-radio.focused {
    border: none;
}

.jq-radio.checked .jq-radio__div {
    margin: 0;
    border-radius: 50%;
    background: transparent;
    box-shadow: none;
    width: 24px;
    height: 24px;
    border: 3px solid #ffffff;
}

.swiper-container {
    max-width: 603px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.product__top {
    height: auto;
    width: 100%;
}

.product__thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.product__thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.reviews__tab.active {
    box-shadow: 0 5px 12px 4px rgba(203, 0, 53, 0.16), 0 2px 29px 10px rgba(203, 0, 53, 0.33),
        inset 0 2px 0 rgba(242, 171, 186, 0.5);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #ff0054 0%, #ff0042 100%);
    @extend %os-heavy;
    color: #fff;
}
.tab-item {
    display: none;
}
.tab-item.active-tab {
    display: block;
}
