%ms-regular{
    font-family: 'Montserrat';
    font-weight: 400;
}

%ms-bold{
    font-family: 'Montserrat';
    font-weight: 700;
}

%ms-semibold{
    font-family: 'Montserrat-SemiBold';
    font-weight: 400;
}

%os-medium {
    font-family: 'Oswald-Medium';
    font-weight: 500;
}
%os-regular {
    font-family: 'Oswald-Regular';
    font-weight: 400;
}

%os-heavy {
    font-family: 'Oswald-Heavy';
    font-weight: 400;
}

.df {
    display: flex;
}