@import "fonts";
@import "reset";
@import "vars";
@import "mixin";
@import "global";

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    transition: all 0.3s;
}

body {
    background-image: url(../images/body-bg.png);
    position: relative;
    @extend %ms-regular;
    font-size: 14px;
}



.header {
    color: #fff;

    &__top {
        position: absolute;
        padding: 20px 0;
        height: 76px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 3;
    }

    &__logo-box {
        align-items: center;
        margin-left: 37px;
    }

    &__logo {
        width: 100px;
        height: 52px;
        margin-right: 40px;
    }

    &__text {
        max-width: 335px;
        line-height: 20px;
    }

    &__item {
        & + & {
            margin-left: 37px;
        }
    }

    &__link {
        display: block;
        color: #ffffff;
        line-height: 76px;

        @include min24 {
            &:hover,
            &:focus {
                color: #ff0054;
            }
        }
    }

    &__svg {
        width: 16px;
        height: 17px;
        fill: #fff;
    }

    &__icon {
        justify-content: center;
        align-items: center;
        margin-right: 13px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: inset 0 2px 1px rgba(143, 241, 175, 0.49);
    }

    &__whatsapp {
        width: 40px;
        height: 40px;
        background-image: linear-gradient(to top, #088b39 0%, #49fea2 100%);

        @include min24 {
            &:hover,
            &:focus {
                background-image: linear-gradient(to top, #176f38 0%, #39f596 100%);
            }
        }
    }

    &__wiber {
        width: 40px;
        height: 40px;
        background-image: linear-gradient(to top, #5f3bc8 0%, #ab74ef 100%);

        @include min24 {
            &:hover,
            &:focus {
                background-image: linear-gradient(59deg, #6642cf 0%, #9252e2 100%);
            }
        }
    }

    &__box {
        margin-right: 37px;
        text-align: center;
    }

    &__phone {
        @extend %ms-bold;
        color: #fff;
        font-size: 24px;
        display: block;
        margin-bottom: 10px;

        @include min24 {
            &:hover,
            &:focus {
                color: #ff0054;
            }
        }
    }

    &__mode {
        font-size: 14px;
        line-height: 20px;
    }

}

.static {
    position: fixed;
    background-color: #000;
    transition: all 0.5s;
}

.top {
    position: relative;
    background: url(../images/bg-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 160px;
    color: #fff;

    &__title {
        @extend %os-heavy;
        max-width: 620px;
        color: #ffffff;
        font-size: 95px;
        line-height: 110px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__list {
        font-size: 17px;
        line-height: 20px;
        margin-left: 30px;
    }

    &__item {
        margin-bottom: 50px;
        position: relative;
        padding-left: 65px;

        &::before {
            position: absolute;
            width: 49px;
            height: 47px;
            left: -40px;
            top: -50px;
        }
    }

    &__icon-super {
        &::before {
            content: url(../images/super.svg);
        }
    }

    &__icon-tire {
        &::before {
            content: url(../images/tire.svg);
        }
    }

    &__icon-gift {
        &::before {
            content: url(../images/gift.svg);
        }
    }

    &__box {
        position: relative;
        align-items: center;

        &::before {
            content: url(../images/effect.png);
            position: absolute;
            bottom: -450px;
            right: -340px;
            animation: effect 2.1s;
            animation-timing-function: ease-in-out;
        }
    }

    &__link {
        position: relative;
        width: 187px;
        margin-right: 40px;
        z-index: 2;
    }

    &__price {
        text-align: center;
    }

    &__price-old {
        display: block;
        @extend %os-regular;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
        text-decoration: line-through;
        text-transform: uppercase;
    }

    &__price-new {
        @extend %os-heavy;
        font-size: 28px;
        text-transform: uppercase;
    }

    &__img-car {
        position: absolute;
        bottom: -240px;
        right: -255px;
    }

    &__object {
        position: absolute;
        left: -79px;
        bottom: -54px;
    }
}

.video {
    position: relative;
    margin-top: 75px;

    &__object-3 {
        position: absolute;
        left: 160px;
        top: 55px;
    }

    &__inner {
        max-width: 910px;
        width: 100%;
        height: 600px;
        margin: 0 auto;
        background-image: url(../images/video-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 148px;
        color: #fff;
        position: relative;

        &::after {
            content: url(../images/sub-video.png);
            position: absolute;
            top: -165px;
            left: -98px;
            z-index: -1;
        }
    }

    &__btn {
        width: 80px;
        height: 80px;
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 1px solid #ff0054;
            animation: bubble 2.1s infinite;
            animation-timing-function: ease-in-out;
        }

        &::after {
            width: 100px;
            height: 100px;
            left: 33px;
            top: 26px;
        }

        &::before {
            width: 150px;
            height: 150px;
            right: 8px;
        }
    }

    &__text {
        max-width: 240px;
        margin: 0 auto;
        text-transform: uppercase;
        @extend %os-heavy;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    &__time {
        font-size: 12px;
    }

    &__object-2 {
        position: absolute;
        right: 130px;
        bottom: 25px;
    }
}

.opportunities {
    margin-top: 160px;
    padding-bottom: 500px;
    &__wrapper {
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 1px solid rgba(#000000, 0.5);
            animation: bubble 2.1s infinite;
            animation-timing-function: ease-in-out;
            left: 0;
            right: 0;
            margin: auto;
        }

        &::after {
            width: 300px;
            height: 300px;
            top: 30%;
        }

        &::before {
            width: 500px;
            height: 500px;
        }
    }

    &__title {
        color: #161616;
        @extend %os-heavy;
        font-size: 109px;
        line-height: 109.36px;
        text-transform: uppercase;
        max-width: 430px;
        word-wrap: break-word;
        margin: 0 auto;
    }

    &__img-car {
        position: absolute;
        top: 75px;
        right: 160px;
        z-index: 3;
    }

    &__img-shadowcar {
        position: absolute;
        right: 140px;
        top: 90px;
        z-index: 1;
    }

    &__item {
        position: absolute;
        max-width: 262px;
        min-height: 360px;
        box-shadow: 0 24px 35px rgba(22, 22, 22, 0.06);
        border-radius: 5px;
        background-color: #ffffff;
        text-align: center;
        z-index: 2;
    }

    &__item-1 {
        top: 55px;
        left: 65px;
    }

    &__item-2 {
        right: 0;
        left: 0;
        top: 420px;
        margin: 0 auto;
    }

    &__item-3 {
        top: 55px;
        right: -65px;
    }

    &__item-img {
        max-width: 260px;
        width: 100%;
        height: 180px;
        object-fit: contain;
        margin-bottom: 10px;
    }

    &__item-title {
        padding: 0 20px 10px;
        @extend %os-heavy;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        color: #161616;
        margin-bottom: 15px;
    }

    &__item-text {
        padding: 0 20px 10px;
        color: #161616;
        line-height: 22px;
    }

    &__btn-box {
        position: absolute;
        right: 110px;
        bottom: -450px;
        text-align: center;
        z-index: 1;
    }

    &__btn {
        display: block;
        width: 204px;
        line-height: 74.34px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__price {
    }

    &__price-old {
        display: block;
        color: #000000;
        @extend %os-medium;
        font-size: 20px;
        text-decoration: line-through;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__price-new {
        display: block;
        color: #000000;
        @extend %os-heavy;
        font-size: 28px;
        text-transform: uppercase;
    }
}

@keyframes bubble {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes effect {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
