@import "fonts";
@import "reset";
@import "animate";
@import "vars";
@import "mixin";
@import "global";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: auto;
}

.test {
    max-width: 700px;
    width: 100%;
}

.body__wrapper {
    overflow: hidden;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    transition: all 0.3s;
}

body {
    background-image: url(../images/body-bg.png);
    @extend %ms-regular;
    font-size: 14px;
    height: auto;
}

.oh {
    overflow: hidden;
    height: 100%;
}

.header {
    color: #fff;

    &__top {
        position: absolute;
        padding: 20px 0;
        height: 76px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 3;
    }

    &__logo-box {
        align-items: center;
        margin-left: 37px;

        @include _1280 {
            margin-left: 10px;
        }
    }

    &__logo {
        width: 100px;
        height: 52px;
        margin-right: 40px;

        @include _1680 {
            margin-right: 20px;
        }

        @include _1280 {
            margin-right: 10px;
        }
    }

    &__text {
        max-width: 335px;
        line-height: 20px;

        @include _1600 {
            display: none;
        }
    }

    &__burger {
        display: none;
        position: relative;
        z-index: 2;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        box-shadow: inset 0 2px 0 rgba(242, 171, 186, 0.5);
        background-image: linear-gradient(to bottom, #ff0054 0%, #ff0042 100%);
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        transform: rotate(0deg);

        &.active {
            transition: all 0.3s;
            transform: rotate(360deg);
            z-index: 5;

            .header__burger-line {
                background-color: transparent;
                transition: all 0.6s;

                &::after {
                    transform: rotate(46deg);
                    top: 0;
                }

                &::before {
                    transform: rotate(-46deg);
                    bottom: 0;
                }
            }
        }

        @include _1170 {
            display: flex;
        }
    }

    &__burger-line {
        width: 15px;
        height: 2px;
        background-color: #fff;
        position: relative;
        transition: all 0.6s;

        &::after,
        &::before {
            transition: all 0.3s;
            content: "";
            position: absolute;
            width: 15px;
            height: 2px;
            background-color: #fff;
            z-index: 1;
            right: 0;
        }

        &::after {
            top: -5px;
        }

        &::before {
            bottom: -5px;
        }
    }

    &__list {
        transition: all 0.5s;

        @include _1170 {
            position: absolute;
            width: 100%;
            height: 100vh;
            right: 0;
            margin: 0;
            padding: 0;
            top: -1300%;
            padding-top: 60px;
            background-color: rgba(#000, 0.9);
            z-index: 1;
            text-align: center;
            display: block;
        }

        &.active {
            top: 0;
            overflow: auto;
        }
    }

    &__item {
        &+& {
            margin-left: 37px;

            @include _1680 {
                margin-left: 15px;
            }

            @include _1280 {
                margin-left: 10px;
            }

            @include _1170 {
                margin-left: 0;
            }
        }
    }

    &__item-phone {
        display: none;

        @include _1170 {
            display: block;
        }
    }

    &__link {
        display: block;
        color: #ffffff;
        line-height: 76px;

        @include min24 {

            &:hover,
            &:focus {
                color: #ff0054;
            }
        }
    }

    &__svg {
        width: 16px;
        height: 17px;
        fill: #fff;
    }

    &__icon {
        justify-content: center;
        align-items: center;
        margin-right: 13px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: inset 0 2px 1px rgba(143, 241, 175, 0.49);
    }

    &__whatsapp {
        width: 40px;
        height: 40px;
        background-image: linear-gradient(to top, #088b39 0%, #49fea2 100%);

        @include min24 {

            &:hover,
            &:focus {
                background-image: linear-gradient(to top, #176f38 0%, #39f596 100%);
            }
        }
    }

    &__wiber {
        width: 40px;
        height: 40px;
        background-image: linear-gradient(to top, #5f3bc8 0%, #ab74ef 100%);

        @include min24 {

            &:hover,
            &:focus {
                background-image: linear-gradient(59deg, #6642cf 0%, #9252e2 100%);
            }
        }
    }

    &__box {
        margin-right: 37px;
        text-align: center;
        align-items: center;

        @include _1280 {
            margin-right: 10px;
        }
    }

    &__box-phone {
        @include _1170 {
            display: none;
        }
    }

    &__phone {
        @extend %ms-bold;
        color: #fff;
        font-size: 24px;
        display: block;
        margin-bottom: 10px;

        @include min24 {

            &:hover,
            &:focus {
                color: #ff0054;
            }
        }

        @include _1680 {
            font-size: 20px;
        }
    }

    &__mode {
        font-size: 14px;
        line-height: 20px;
    }
}

.static {
    position: fixed;
    background-color: #000;
    transition: all 0.5s;
    z-index: 50;
}

.top {
    position: relative;
    background-image: url(../images/bg-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    padding-top: 160px;
    color: #fff;

    @include _1024 {
        padding-top: 75px;
        min-height: 100%;
        height: 900px;
    }

    @include _480 {
        height: 700px;
    }

    &__title {
        @extend %os-heavy;
        max-width: 620px;
        color: #ffffff;
        font-size: 95px;
        line-height: 110px;
        text-transform: uppercase;
        margin-bottom: 50px;

        @include _1024 {
            font-size: 70px;
            line-height: 85px;
            text-align: center;
            max-width: 100%;
            margin-bottom: 20px;
        }

        @include _480 {
            font-size: 40px;
            line-height: 50px;
            margin: 0 20px 20px;
        }
    }

    &__list {
        font-size: 17px;
        line-height: 20px;
        margin-left: 30px;

        @include _1024 {
            max-width: 440px;
            margin-left: 0;
            margin: 0 auto;
        }
    }

    &__item {
        margin-bottom: 50px;
        position: relative;
        padding-left: 65px;

        @include _1024 {
            margin-bottom: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 130px;
            height: 130px;
            left: -40px;
            top: -50px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0 0;

            @include _1024 {
                width: 80px;
                height: 80px;
                left: 0;
                top: -25px;
            }
        }
    }

    &__icon-super {
        &::before {
            background-image: url(../images/super.svg);
        }
    }

    &__icon-tire {
        &::before {
            background-image: url(../images/tire.svg);
        }
    }

    &__icon-gift {
        &::before {
            background-image: url(../images/gift.svg);
        }
    }

    &__box {
        position: relative;
        align-items: center;

        @include _1024 {
            flex-direction: column-reverse;
        }
    }

    &__link {
        position: relative;
        width: 187px;
        margin-right: 40px;
        z-index: 2;

        @include _480 {
            margin-right: 10px;
        }
    }

    &__price {
        text-align: center;
    }

    &__price-old {
        display: block;
        @extend %os-regular;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
        text-decoration: line-through;
        text-transform: uppercase;

        @include _480 {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    &__price-new {
        @extend %os-heavy;
        font-size: 28px;
        text-transform: uppercase;

        @include _480 {
            font-size: 20px;
        }
    }

    &__img {
        position: relative;

        &::before {
            content: "";
            background-image: url(../images/effect.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 1258px;
            min-height: 1122px;
            position: absolute;
            bottom: -500px;
            left: -100px;
            animation: effect 2.1s;
            animation-timing-function: ease-in-out;

            @include _1600 {
                min-height: 753px;
                max-width: 855px;
                left: 0;
                bottom: -275px;
            }

            @include _1280 {
                min-height: 620px;
                max-width: 677px;
                left: 70px;
                bottom: -215px;
            }

            @include _1170 {
                min-height: 520px;
                max-width: 577px;
                bottom: -190px;
            }

            @include _1024 {
                left: -80px;
                bottom: -75px;
            }

            @include _480 {
                max-width: 325px;
                min-height: 293px;
                left: -46px;
                bottom: -25px;
            }
        }
    }

    &__img-car {
        position: absolute;
        bottom: -298px;
        left: 82px;

        @include _1600 {
            bottom: -150px;
            left: 140px;
            max-width: 700px;
        }

        @include _1280 {
            bottom: -100px;
            left: 140px;
            max-width: 610px;
        }

        @include _1170 {
            max-width: 500px;
        }

        @include _1024 {
            position: relative;
            left: 0;
            top: -20px;
        }

        @include _480 {
            max-width: 300px;
        }
    }

    &__object {
        position: absolute;
        left: -79px;
        bottom: -54px;

        @include _1024 {
            left: 130px;
            bottom: 0;
        }

        @include _480 {
            left: -40px;
            bottom: 25px;
        }
    }
}

.video {
    position: relative;
    padding-top: 75px;

    @include _1024 {
        padding-top: 30px;
    }

    &__object-3 {
        position: absolute;
        left: 160px;
        top: 55px;

        @include _1170 {
            left: 0;
            top: 0;
        }

        @include _768 {
            max-width: 100px;
            left: 30px;
            top: 50px;
        }

        @include _480 {
            max-width: 80px;
            left: -30px;
            top: 0;
        }
    }

    &__inner {
        max-width: 910px;
        width: 100%;
        height: 600px;
        margin: 0 auto;
        background-image: url(../images/video-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        padding-top: 148px;
        color: #fff;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/sub-video.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 1168px;
            height: 833px;
            bottom: -62px;
            left: -82px;
            z-index: -1;

            @include _768 {
                width: 800px;
            }

            @include _480 {
                bottom: -300px;
                width: 650px;
            }
        }

        @include _1024 {
            padding-top: 10%;
        }

        @include _480 {
            height: 430px;
        }

        @include _320 {
            height: 300px;
        }
    }

    &__btn {
        width: 80px;
        height: 80px;
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 1px solid #ff0054;
            animation: bubble 2.1s infinite;
            animation-timing-function: ease-in-out;
        }

        &::after {
            width: 100px;
            height: 100px;
            left: 33px;
            top: 26px;

            @include _768 {
                width: 50px;
                height: 50px;
                left: 40px;
                top: 35px;
            }
        }

        &::before {
            width: 150px;
            height: 150px;
            right: 8px;

            @include _768 {
                width: 100px;
                height: 100px;
                top: 10px;
                right: 15px;
            }
        }
    }

    &__img {
        max-width: 166px;

        @include _768 {
            max-width: 130px;
        }
    }

    &__text {
        max-width: 240px;
        margin: 0 auto;
        text-transform: uppercase;
        @extend %os-heavy;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 25px;

        @include _768 {
            margin-bottom: 5px;
        }

        @include _480 {
            margin-top: 20%;
            color: #000;
        }
    }

    &__time {
        font-size: 12px;

        @include _480 {
            color: #000;
        }
    }

    &__object-2 {
        position: absolute;
        right: 130px;
        bottom: 25px;

        @include _1024 {
            right: 55px;
            bottom: 120px;
        }

        @include _768 {
            max-width: 100px;
            bottom: 150px;
        }

        @include _480 {
            max-width: 80px;
            bottom: 240px;
            right: 0;
        }
    }
}

.opportunities {
    padding-top: 160px;
    padding-bottom: 565px;

    @include _1024 {
        padding-top: 50px;
        padding-bottom: 0;
    }

    &__wrapper {
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 1px solid rgba(#000000, 0.5);
            animation: bubble 2.1s infinite;
            animation-timing-function: ease-in-out;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 3;
        }

        &::after {
            width: 300px;
            height: 300px;
            top: 45%;

            @include _1170 {
                top: 87%;
            }

            @include _1024 {
                top: 100px;
            }

            @include _480 {
                width: 150px;
                height: 150px;
                top: 75px;
            }
        }

        &::before {
            width: 500px;
            height: 500px;

            @include _480 {
                width: 300px;
                height: 300px;
            }
        }
    }

    &__title {
        color: #161616;
        @extend %os-heavy;
        font-size: 109px;
        line-height: 109.36px;
        text-transform: uppercase;
        max-width: 430px;
        word-wrap: break-word;
        margin: 0 auto;

        @include _1680 {
            font-size: 96px;
            max-width: 465px;
        }

        @include _1170 {
            font-size: 50px;
            margin: 0 auto;
        }

        @include _1024 {
            max-width: 100%;
            text-align: center;
        }

        @include _480 {
            font-size: 35px;
        }
    }

    &__img-car {
        position: absolute;
        top: 75px;
        right: 160px;
        z-index: 4;

        @include _1680 {
            right: 0;
            left: 0;
            margin: 0 auto;
        }

        @include _1280 {
            max-width: 635px;
        }

        @include _1170 {
            max-width: 500px;
        }

        @include _480 {
            max-width: 300px;
        }
    }

    &__img-shadowcar {
        position: absolute;
        right: 140px;
        top: 90px;
        z-index: 1;

        @include _1170 {
            max-width: 500px;
            right: 250px;
        }

        @include _1024 {
            position: sticky;
            margin-left: 145px;
            max-width: 450px;
        }

        @include _480 {
            margin-left: 5%;
            max-width: 300px;
        }
    }

    &__list {
        @include _1024 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__item {
        position: absolute;
        max-width: 262px;
        min-height: 360px;
        box-shadow: 0 24px 35px rgba(22, 22, 22, 0.06);
        border-radius: 5px;
        background-color: #ffffff;
        text-align: center;
        z-index: 2;

        @include _1024 {
            position: sticky;
            margin: 0 10px 30px;
        }
    }

    &__item-1 {
        top: 55px;
        left: 65px;

        @include _1680 {
            left: 0;
        }
    }

    &__item-2 {
        right: 0;
        left: 0;
        top: 420px;
        margin: 0 auto;

        @include _1024 {
            margin: 0;
            margin-bottom: 30px;
        }
    }

    &__item-3 {
        top: 55px;
        right: -65px;

        @include _1680 {
            right: 0;
        }
    }

    &__item-img {
        max-width: 262px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    &__item-title {
        padding: 0 20px 10px;
        @extend %os-heavy;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        color: #161616;
        margin-bottom: 15px;
    }

    &__item-text {
        padding: 0 20px 10px;
        color: #161616;
        line-height: 22px;
    }

    &__btn-box {
        position: absolute;
        right: 110px;
        bottom: -450px;
        text-align: center;
        z-index: 1;

        @include _1170 {
            bottom: -650px;
        }

        @include _1024 {
            position: sticky;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }

    &__btn {
        display: block;
        width: 204px;
        line-height: 74.34px;
        text-transform: uppercase;
        margin-bottom: 25px;

        @include _1024 {
            margin-right: 20px;
        }

        @include _320 {
            margin-right: 0;
        }
    }

    &__price-old {
        display: block;
        color: #000000;
        @extend %os-medium;
        font-size: 20px;
        text-decoration: line-through;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__price-new {
        display: block;
        color: #000000;
        @extend %os-heavy;
        font-size: 28px;
        text-transform: uppercase;
    }
}

.specifications {
    background-image: url(../images/bg-fone.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 225px;
    min-height: 1000px;

    @include _1280 {
        padding-top: 266px;
    }

    @include _1170 {
        min-height: 900px;
    }

    @include _1024 {
        margin-top: -80px;
    }

    @include _768 {
        margin-top: -160px;
        padding-top: 250px;
        height: 950px;
    }

    &__wrapper {
        text-align: center;
        justify-content: space-between;

        @include _768 {
            flex-wrap: wrap;
        }
    }

    &__info {
        max-width: 180px;
        margin-top: 250px;

        @include _768 {
            margin-top: 0;
        }

        @include _480 {
            max-width: 120px;
        }
    }

    &__number {
        text-shadow: 0 9px 37px rgba(203, 0, 53, 0.36);
        color: #ff0050;
        @extend %os-heavy;
        line-height: 40px;
        text-transform: uppercase;
        font-size: 100px;
        display: block;
        margin-bottom: 30px;

        @include _480 {
            font-size: 50px;
            margin-bottom: 10px;
        }
    }

    &__spec {
        font-size: 30px;
        text-shadow: 0 9px 37px rgba(203, 0, 53, 1);
        color: #ff0050;
        @extend %os-heavy;
        line-height: 40px;
        text-transform: uppercase;

        @include _480 {
            font-size: 18px;
            line-height: 23px;
        }
    }

    &__text {
        color: #ffffff;
        line-height: 22px;

        @include _480 {
            line-height: 18px;
            font-size: 12px;
        }
    }

    &__waterpool {
        position: absolute;
        bottom: -50px;
        right: 95px;
        text-shadow: 0 9px 37px rgba(203, 0, 53, 0.7);
        color: #ff0050;
        @extend %os-heavy;
        font-size: 13px;
        line-height: 17.13px;
        text-transform: uppercase;

        @include _1170 {
            right: -5px;
        }

        @include _768 {
            right: 0;
            left: 0;
        }
    }

    &__waterpool-namber {
        font-size: 43px;
        display: block;
        margin-bottom: 10px;
    }

    &__midle {
        position: relative;

        &::before {
            content: url(../images/nameplate.png);
            position: absolute;
            width: 108px;
            height: 108px;
            bottom: -80px;
            right: 65px;
            z-index: 1;
            animation: waterpool 5s infinite linear;

            @include _1170 {
                right: -35px;
            }

            @include _768 {
                right: 0;
                left: 0;
                margin: 0 auto;
            }
        }

        @include _768 {
            order: -1;
            flex: 100%;
            height: 600px;
        }

        @include _768 {
            height: 450px;
        }
    }

    &__title-min {
        font-size: 40px;
        display: block;

        @include _480 {
            font-size: 25px;
        }
    }

    &__title {
        @extend %os-heavy;
        color: #fffefe;
        font-size: 70px;
        line-height: 72px;
        text-transform: uppercase;

        @include _1170 {
            font-size: 50px;
            line-height: 60px;
        }

        @include _480 {
            font-size: 35px;
        }
    }

    &__img {
        position: absolute;
        bottom: -390px;
        right: -440px;
        max-width: 1400px;
        height: 1000px;
        object-fit: contain;

        @include _1280 {
            max-width: 1200px;
        }

        @include _1170 {
            max-width: 800px;
            height: 800px;
            left: -150px;
            top: -100px;
            bottom: 0;
            right: 0;
        }

        @include _1024 {
            height: 660px;
        }

        @include _768 {
            right: 0;
            left: 0;
            margin: 0 auto;
            max-width: 700px;
            width: 110%;
            object-fit: cover;
            margin-right: -20px;
        }

        @include _480 {
            height: 300px;
            width: auto;
            margin-right: -100px;
            margin-top: 100px;
        }
    }

    &__controller {
        position: absolute;
        bottom: -461px;
        right: -40px;

        @include _1170 {
            max-width: 400px;
            bottom: -330px;
            right: 0;
            left: 0;
            margin: 0 auto;
        }

        @include _768 {
            bottom: -100px;
            max-width: 300px;
        }

        @include _480 {
            bottom: 0;
            max-width: 260px;
        }
    }
}

.complect {
    padding-bottom: 50px;

    @include _768 {
        padding-top: 100px;
    }

    &__wrapper {
        text-align: center;
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 1px solid rgba(#000000, 0.5);
            animation: bubble 2.1s infinite;
            animation-timing-function: ease-in-out;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;
        }

        &::after {
            width: 300px;
            height: 300px;
            top: 15%;

            @include _1024 {
                top: 8%;
            }

            @include _480 {
                width: 200px;
                height: 200px;
                top: -100px;
            }
        }

        &::before {
            width: 500px;
            height: 500px;

            @include _480 {
                width: 350px;
                height: 350px;
                top: -170px;
            }
        }
    }

    &__img {
        margin-top: -100px;
        max-width: 1100px;
        width: 100%;

        @include _768 {
            margin-bottom: 50px;
        }
    }

    &__object-4 {
        position: absolute;
        transform: scale(0.7);
        left: 185px;
        top: 110px;

        @include _768 {
            left: 50px;
        }

        @include _480 {
            transform: scale(0.5);
            top: 0;
            left: 0;
        }
    }

    &__object-5 {
        position: absolute;
        transform: scale(0.7) rotate(-15deg);
        right: 85px;
        bottom: 350px;

        @include _768 {
            right: 15px;
            bottom: 250px;
        }

        @include _480 {
            transform: scale(0.5) rotate(-15deg);
            right: -15px;
            bottom: 65px;
        }
    }

    &__title {
        @extend %os-heavy;
        color: #010101;
        font-size: 40px;
        line-height: 72px;
        text-transform: uppercase;
        margin-top: -70px;
        margin-bottom: 50px;

        @include _480 {
            font-size: 25px;
            line-height: 50px;
            margin-top: -50px;
        }
    }

    &__list {
        justify-content: space-between;
        flex-wrap: wrap;

        @include _1024 {
            justify-content: space-around;
        }
    }

    &__item {
        width: 236px;
        height: 209px;
        box-shadow: 0 24px 35px rgba(22, 22, 22, 0.06);
        background-color: #626262;
        background-image: linear-gradient(-138deg, #0511a9 0%, #bb2020 100%);
        border-radius: 6px;
        transform: skew(-10deg, 0);
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 38px;
        position: relative;

        &::before {
            position: absolute;
            transform: skew(10deg, 0);
            top: -20px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 215px;
            height: 8px;
            box-shadow: 0 10px 54px 10px rgba(176, 29, 76, 0.7);
            background-color: #6d1818;
            border-radius: 0 0 6px 6px;
            bottom: -7px;
            z-index: -1;
        }

        @include _1024 {
            margin: 0 20px 40px;
        }
    }

    &__text {
        transform: skew(10deg, 0);
        @extend %os-heavy;
        color: #ffffff;
        font-size: 20px;
        line-height: 24.48px;
        text-transform: uppercase;
    }

    &__sub-text {
        font-size: 10px;
        display: block;
    }

    &__item-1 {
        &::before {
            content: url(../images/min-car.png);
        }
    }

    &__item-2 {
        &::before {
            content: url(../images/min-control.png);
        }
    }

    &__item-3 {
        &::before {
            content: url(../images/accum.png);
        }
    }

    &__item-4 {
        &::before {
            content: url(../images/document.png);
        }

        padding-bottom: 14px;
    }
}

.product {
    background-image: url(../images/bg-fone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -60px;

    min-height: 1140px;
    padding-top: 165px;

    @include _1280 {
        background-position-y: -100px;
    }

    @include _1024 {
        background-image: url(../images/bg-fone.min.png);
        background-position-y: 0;
        background-size: 100% 100%;
        padding: 130px 0 100px;
    }

    &__wrapper {
        @include _1024 {
            display: block;
        }
    }

    &__slider {
        margin-top: 75px;

        @include _1024 {
            margin-top: 0;
        }
    }

    &__top {
        margin-bottom: 7px;
    }

    &__big-img {
        max-width: 603px;
        width: 100%;
        object-fit: cover;
        height: 367px;
        border-radius: 5px;
    }

    &__box {
        max-width: 603px;
        justify-content: space-between;
        margin-bottom: 20px;

        @include _1024 {
            max-width: 100%;
        }
    }

    &__min-img {
        max-width: 196px;
        width: 100%;
        height: 114px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 7px;
    }

    &__items {
        max-width: 603px;
        flex-wrap: wrap;

        @include _1024 {
            margin: 0 auto 20px;
        }
    }

    &__item {
        flex: 0 0 50%;
        color: #ffffff;
        font-size: 13px;
        line-height: 19px;
        padding-left: 100px;
        position: relative;

        &::before {
            position: absolute;
            left: -25px;
            top: -25px;
        }

        @include _768 {
            flex: 0 0 100%;
            margin-bottom: 20px;
        }
    }

    &__item-1 {
        &::before {
            content: url(../images/money.svg);
        }
    }

    &__item-2 {
        &::before {
            content: url(../images/transport.svg);
        }
    }

    &__block-form {
        margin-left: 75px;
        padding: 45px 60px 25px;
        max-width: 492px;
        min-height: 709px;
        border: 3px solid rgba(187, 40, 85, 0.97);
        color: #fffefe;

        @include _1280 {
            padding: 35px 33px 9px;
        }

        @include _1170 {
            margin-left: 20px;
        }

        @include _1024 {
            margin: 0 auto;
        }

        @include _480 {
            padding: 10px;
        }
    }

    &__title {
        @extend %os-heavy;
        line-height: 45px;
        text-transform: uppercase;
        font-size: 60px;

        @include _1170 {
            font-size: 50px;
        }
    }

    &__subtitle {
        margin-top: 10px;
        margin-bottom: 15px;
        display: block;
        font-size: 32px;

        @include _1170 {
            font-size: 20px;
        }
    }

    &__price {
        @extend %os-heavy;
        text-transform: uppercase;
    }

    &__new-price {
        text-shadow: 0 9px 37px rgba(203, 0, 53, 0.36);
        color: #ff0054;
        font-size: 32px;
        line-height: 48px;
        margin-right: 20px;

        @include _1170 {
            font-size: 24px;
        }
    }

    &__old-price {
        font-size: 24px;
        line-height: 48px;
        text-decoration: line-through;

        @include _1170 {
            font-size: 16px;
        }
    }

    &__label {
        color: #ffffff;
        font-size: 12px;
        line-height: 24px;
        margin-right: 10px;
    }

    &__form-color {
        width: 25px;
        height: 25px;
        opacity: 0.99;
        position: relative;
        cursor: pointer;
    }

    &__form-color--blue {
        background-image: linear-gradient(45deg, #0068dd 0%, #27b3ff 100%);
    }

    &__form-color--red {
        background-image: linear-gradient(45deg, #f51313 0%, #d99fa5 100%);
    }

    &__form-color--green {
        background-image: linear-gradient(45deg, #297a22 0%, #7ec891 100%);
    }

    &__tform {
        margin-top: 20px;
        color: #ffffff;
        @extend %ms-semibold;
        line-height: 24px;
    }

    &__text {
        color: #ffffff;
        font-size: 13px;
        line-height: 24px;
    }

    &__form-lbel {
        color: #fefefe;
        font-size: 10px;
        line-height: 30.43px;
        margin-top: 20px;
        display: block;
    }

    &__form-input {
        display: block;
        max-width: 323px;
        width: 100%;
        height: 65px;
        padding: 24px;
        border-radius: 5px;
        background-color: #050506;
        color: #fff;
        border: 1px solid transparent;

        &:required:focus {
            border: 1px solid #fff;
        }

        &::placeholder {
            color: #5c5b5b;
            font-size: 16px;
            line-height: 30.43px;
            @extend %ms-regular;
        }
    }

    &__form-btn {
        margin-top: 10px;
        display: block;
        max-width: 323px;
        width: 100%;
        margin-bottom: 20px;
    }

    &__form-politic {
        font-size: 10px;
        line-height: 30.43px;
        margin-left: 35px;

        @include _480 {
            margin: 0;
        }
    }

    &__form-link {
        color: #fefefe;
        text-decoration: underline;
    }

    &__object-6 {
        position: absolute;
        bottom: -300px;
        left: -200px;

        @include _1440 {
            bottom: -200px;
            left: 0;
        }

        @include _1024 {
            display: none;
        }
    }

    &__object-7 {
        position: absolute;
        top: -150px;
        right: -400px;

        @include _1440 {
            top: -130px;
            right: -100px;
        }

        @include _1024 {
            display: none;
        }
    }
}

.emotion {
    padding-top: 114px;

    &__wrapper {
        @include _1024 {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__texts {
        max-width: 524px;
        width: 100%;
        text-transform: uppercase;
        @extend %os-heavy;

        @include _1024 {
            text-align: center;
        }
    }

    &__title {
        color: #161616;
        font-size: 68px;
        line-height: 91.47px;

        @include _768 {
            font-size: 50px;
            line-height: 60px;
        }

        @include _480 {
            font-size: 35px;
            line-height: 45px;
        }
    }

    &__suptitle {
        line-height: 91.47px;
        font-size: 82px;

        @include _768 {
            font-size: 65px;
            line-height: 80px;
        }

        @include _480 {
            font-size: 45px;
            line-height: 50px;
        }
    }

    &__subtitle {
        color: #ff0a58;
        font-size: 123px;
        line-height: 119.7px;
        margin-bottom: 50px;

        @include _768 {
            font-size: 95px;
            line-height: 110px;
            margin-bottom: 20px;
        }

        @include _480 {
            font-size: 60px;
            line-height: 80px;
        }
    }

    &__text {
        color: #161616;
        font-size: 16px;
        line-height: 24px;
        text-transform: none;
        @extend %ms-regular;
    }

    &__images {
        position: relative;
        max-height: 700px;

        &::after,
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 1px solid rgba(#000000, 0.5);
            animation: bubble 2.1s infinite;
            animation-timing-function: ease-in-out;
            left: 105px;
            top: -115px;
            z-index: 3;
        }

        &::after {
            width: 300px;
            height: 300px;
            top: -4%;
            left: 203px;
        }

        &::before {
            width: 500px;
            height: 500px;
        }

        @include _768 {
            max-height: 460px;
        }

        @include _480 {
            max-height: 340px;
        }
    }

    &__img-text {
        position: relative;

        &::after {
            content: url(../images/huper_shop.png);
            position: absolute;
            width: 62px;
            height: 32px;
            left: 23px;
            top: -77px;
        }

        &::before {
            content: url(../images/nameplate-red.png);
            position: absolute;
            width: 108px;
            height: 108px;
            bottom: 7px;
            z-index: 1;
            animation: waterpool 5s infinite linear;
        }

        @include _1024 {
            margin-left: 100px;
        }
    }

    &__object-8 {
        right: -595px;

        @include _768 {
            right: -400px;

            .object-8 {
                transform: scale(0.5);
            }
        }

        @include _480 {
            right: -300px;
        }
    }

    &__img-bg {
        position: absolute;
        left: -65px;
        top: -242px;
        z-index: 5;

        @include _1024 {
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 770px;
        }

        @include _768 {
            height: 500px;
            top: -150px;
        }

        @include _480 {
            height: 400px;
        }
    }

    &__img-car {
        position: absolute;
        top: 310px;
        left: -20px;
        z-index: 5;

        @include _1024 {
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        @include _768 {
            top: auto;
            max-width: 500px;
        }

        @include _480 {
            max-width: 330px;
        }
    }

    &__img-boom {
        z-index: -1;
        top: -200px;
        left: -105px;

        @include _768 {
            max-width: 500px;
            position: relative;
            top: 130px;
            left: 115px;
        }
    }

    &__object-9 {
        bottom: 412px;
        right: 15px;
        transform: rotate(-25deg);

        @include _768 {
            bottom: 320px;
            right: 60px;

            .object-9 {
                transform: scale(0.5);
            }
        }

        @include _480 {
            bottom: 400px;
            right: 0;
        }
    }

    &__object-10 {
        top: -415px;
        right: 100px;
    }
}

.reviews {
    background-image: url(../images/bg-reviews.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 100px;
    min-height: 880px;

    @include _1170 {
        background-size: contain;
        background-position: center;
    }

    &__wrapper {
        text-align: center;
    }

    &__swiper {
        overflow: hidden;
    }

    &__title {
        color: #010101;
        @extend %os-heavy;
        font-size: 40px;
        line-height: 72px;
        text-transform: uppercase;
        margin-bottom: 26px;

        @include _320 {
            font-size: 24px;
        }
    }

    &__tabs {
        justify-content: center;
        margin-bottom: 50px;
    }

    &__tab {
        margin: 0 10px;
        display: block;
        width: 157px;
        height: 53px;
        border-radius: 5px;
        border: 2px solid #ff0054;
        @extend %os-heavy;
        color: #ff0054;
        font-size: 19px;
        line-height: 50px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s;

        @include _320 {
            font-size: 14px;
        }
    }

    &__tab-img {
        max-width: 275px;
        width: 100%;
        min-height: 549px;
        cursor: pointer;
    }
}

.order {
    background-image: url(../images/bg-fone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -60px;
    padding-top: 150px;
    min-height: 995px;

    @include _1280 {
        background-position-y: -100px;
    }

    @include _1170 {
        background-image: url(../images/bg-fone.min2.png);
        background-position-y: 0;
        background-size: 100% 100%;
        padding: 100px 0 50px;
    }

    @include _480 {
        padding: 120px 0 100px;
    }

    &__wrapper {
        text-align: center;
        color: #ffffff;
        @extend %os-heavy;
    }

    &__title {
        font-size: 40px;
        line-height: 72px;
        text-transform: uppercase;
        margin-bottom: 65px;

        @include _480 {
            font-size: 25px;
            line-height: 42px;
            margin-bottom: 20px;
        }
    }

    &__list {
        justify-content: space-between;
        flex-wrap: wrap;

        @include _1170 {
            margin: 0 20px;
            justify-content: space-around;
        }
    }

    &__item {
        margin: 0 10px 77px;
        width: 270px;
        height: 322px;
        box-shadow: 0 24px 35px rgba(22, 22, 22, 0.06);
        background-color: #626262;
        background-image: linear-gradient(-138deg, #0511a9 0%, #bb2020 100%);
        border-radius: 6px;
        transform: skew(-5deg, 0);
        align-items: flex-end;
        justify-content: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 90%;
            height: 8px;
            box-shadow: 0 10px 54px 10px rgba(176, 29, 76, 0.7);
            background-color: #6d1818;
            border-radius: 0 0 6px 6px;
            bottom: -7px;
            z-index: -1;
            right: 0;
            left: 0;
            margin: 0 auto;
        }

        @include _1170 {
            margin-bottom: 35px;
        }
    }

    &__item-number {
        position: absolute;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        box-shadow: inset 0 2px 0 rgba(242, 171, 186, 0.5);
        background-color: #f7f7f7;
        background-image: linear-gradient(to bottom, #ff0054 0%, #ff0042 100%);
        font-size: 24px;
        font-weight: 400;
        line-height: 39px;
        text-transform: uppercase;
        top: -10px;
    }

    &__item-inner {
        transform: skew(5deg, 0);
        flex-direction: column;
        height: 100%;
    }

    &__item-title {
        font-size: 24px;
        line-height: 29.77px;
        text-transform: uppercase;
        margin: 30px 0 20px;
    }

    &__item-text {
        @extend %ms-regular;
        font-size: 13px;
        padding: 0 20px;
        line-height: 19px;
    }

    &__item-img {
        margin-top: auto;
        margin-right: 20px;
        object-fit: contain;
    }

    &__btn {
        display: block;
        width: 299px;
        height: 70px;
        margin: 0 auto;

        @include _1170 {
            margin-bottom: 50px;
        }
    }
}

.questions {
    background-image: url(../images/bg-reviews.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 710px;

    @include _1170 {
        background-size: contain;
        background-position: center;
    }

    &__wrapper {
        @include _1024 {
            flex-direction: column;
            align-items: center;
        }
    }

    &__items {
        max-width: 540px;
        margin-right: 140px;

        @include _1170 {
            margin-right: 40px;
        }

        @include _1024 {
            margin-right: 0;
        }
    }

    &__items-title {
        @extend %os-heavy;
        color: #010101;
        font-size: 40px;
        line-height: 55px;
        text-transform: uppercase;
        margin-bottom: 35px;

        @include _480 {
            font-size: 30px;
            line-height: 40px;
        }
    }

    &__item {
        box-shadow: 0 24px 35px rgba(22, 22, 22, 0.05);
        border-radius: 5px;
        background-color: #ffffff;
        margin-bottom: 13px;
        color: #161616;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        cursor: pointer;

        &--active {
            .questions__text {
                display: block;
                padding: 0 50px 12px 12px;
                height: auto;
                opacity: 1;
            }

            .questions__title::after {
                transition: all 0.3s;
                transform: rotate(360deg);
            }
        }

        @include _480 {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__title {
        padding: 26px 50px 26px 12px;

        &::after {
            content: url(../images/arrow.svg);
            position: absolute;
            top: 20px;
            right: 24px;
            transform: rotate(180deg);
            transition: all 0.3s;
        }
    }

    &__text {
        height: 0;
        opacity: 0;
        padding: 0 50px 0 12px;
        transition: all 0.5s;
    }

    &__form {
        max-width: 492px;
        width: 100%;
        min-height: 646px;
        border: 3px solid rgba(187, 40, 85, 0.97);
        z-index: 3;

        @include _1170 {
            min-height: 600px;
        }

        @include _480 {
            min-height: 550px;
        }
    }

    &__form-item {
        padding: 55px 65px 24px;

        @include _1170 {
            padding: 30px;
        }

        @include _480 {
            padding: 10px;
        }
    }

    &__form-title {
        @extend %os-heavy;
        color: #010101;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;

        @include _480 {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__form-subtitle {
        text-align: center;
        color: #000000;
        @extend %ms-semibold;
        font-size: 14px;
        line-height: 24px;
    }

    &__form-lbel {
        margin-left: 20px;
        color: #000000;
        margin-top: 0;
    }

    &__form-input {
        margin: 0 auto;
        border: 2px solid transparent;

        &:required:focus {
            border: 2px solid rgba(187, 40, 85, 0.97);
        }
    }

    &__form-link {
        color: #000000;
    }

    &__form-btn {
        margin: 10px auto;

        @include _480 {
            font-size: 20px;
        }
    }

    &__messengers {
        text-align: center;
        border-top: 2px solid #dad7d7;
        padding-top: 30px;

        @include _1170 {
            padding: 10px;
        }
    }

    &__messengers-text {
        display: block;
        @extend %ms-semibold;
        color: #000000;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    &__box-icon {
        justify-content: center;
    }
}

.footer {
    background-image: url(../images/bg-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 354px;

    &__wrapper {
        padding: 280px 40px 30px;
        color: #fff;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        position: relative;

        @include _480 {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 315px 0 20px;
            margin-top: -230px;
        }
    }

    &__logo {
        margin-right: 40px;

        @include _480 {
            margin-right: 0;
            display: block;
            margin-bottom: 20px;
        }
    }

    &__box-text {
        margin-right: auto;

        @include _768 {
            order: 3;
            width: 100%;
            margin-top: 20px;
        }

        @include _480 {
            order: 0;
            margin: 0 0 20px 0;
            width: auto;
        }

    }

    &__text {
        max-width: 340px;
        font-size: 14px;
        line-height: 20px;

        @include _480 {
            margin-bottom: 10px;
        }
    }

    &__link {
        color: #ffffff;
        font-size: 11px;
        line-height: 20px;
        text-decoration: underline;
    }

    &__img {
        position: absolute;
        width: 422px;
        height: 267px;
        top: 50px;
        right: 0;
        left: 0;
        margin: 0 auto;
        transform: scale(-1, 1);

        @include _1170 {
            width: 355px;
            height: 214px;
            top: 67px;
        }

        @include _480 {
            display: none;
        }
    }

    &__disigner {
        width: 129px;
        height: 27px;
        font-size: 11px;
        line-height: 16px;
        margin-left: 20px;
    }
}